$linkcolor: #f56c23;

$word-color-w: #fff;
$word-color-main: #3D1101;

$bg-color-bright: #f6f4f3;
$bg-color-medium: #efe9e7;
$bg-color-dark: #3d1101;

$line-height-b: 1.6;
$line-height-m: 1.5;
$line-height-s: 1.3;